.buttonAcc{
    border-radius: 400px;
}

@keyframes dropdown {
    0%{
        transform: translateY(-20%);
    }
    100%{
        transform: translateY(0);
    }
}

.dropdown{
    animation: dropdown 0.5s;
}

.scroll-bar-hide{
    scrollbar-width: none;
}

.button_problem{
    border-radius: 400px;
    transition: background-color 0.2s ease;
    transition: color 0.2s ease;
}